@charset "UTF8";

.main_visual {
  background: #272727;
  height: 100vh;
  max-height: 722px;
  padding: calc(100vh - 526px) 0 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.main_visual .top_wrap {
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  padding: 0 30px;
}

.top_wrap .project_info {
  width: 120px;
  display: flex;
}
.top_wrap .pr_count {
  font-size: 1rem;
  margin-left: 3px;
}

.top_wrap .company_info {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.top_wrap .scroll_info {
  width: 120px;
  text-align: right;
}

.deco_line_wrap {
  margin-top: 10px;
}
.deco_line_wrap .deco_line {
  background: #fff;
  margin-bottom: 3px;
  height: 1px;
  transform: scaleX(0);
}
.deco_line_wrap .dl01 {
  height: 7px;
  transition: all 0.3s;
}
.deco_line_wrap .dl02 {
  height: 5px;
  transition: all 0.3s 0.2s;
}
.deco_line_wrap .dl03 {
  height: 2px;
  transition: all 0.3s 0.4s;
}
.deco_line_wrap .dl04 {
  transition: all 0.3s 0.6s;
}
.deco_line_wrap .deco_line.on {
  transform: scaleX(1);
}






.main_slider {
  margin-top: 10px;
  position: relative;
  height: 400px;
  /* overflow: hidden; */
}
.main_slider .slide_wrap {
  position: absolute;
  left: 0;
  top: 0;
  gap: 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  height: 100%;
  width: 8768px;
  overflow: visible;
}
.main_slider .slide {
  position: relative;
  height: 100%;
  flex-shrink: 0;
  /* overflow: hidden; */
  transition: all 0.2s;
}
.main_slider a {
  display: block;
  position: relative;
  overflow: hidden;
}

/* 웹에서만 hover */
@media (hover: hover) {
  .main_slider a:hover .img_wrap img {
    transform: scale(1.2);
  }

  .main_slider a:hover .txt_wrap .link_deco {
    animation: decoMove 0.5s;
  }

}



.main_slider .img_wrap {
  height: 400px;
  overflow: hidden;
}
.main_slider .img_wrap img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.main_slider .txt_wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 18px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_slider .txt_wrap .pr_tool {
  font-size: 1.6rem;
}
.main_slider .txt_wrap .link_deco {
  position: absolute;
  right: 18px;
  bottom: 20px;
  width: 40px;
  height: 40px;
}

@keyframes decoMove {
  0% {
    transform: translate(-30px, -20px);
  }
  100% {
    transform: translate(0);
  }
}




@media (max-width:900px) {
  .main_visual {padding: 154px 0 0; height: 100%; max-height: none; overflow-y: hidden;}
  .main_visual .top_wrap {padding: 0 12px;}
  .top_wrap .project_info {font-size: 1.5rem;}
  .top_wrap .company_info {display: none;}
  .top_wrap .scroll_info {display: none;}

  .deco_line_wrap {margin-top: 7px;}
  .deco_line_wrap .dl01 {height: 5px;}
  .deco_line_wrap .dl02 {height: 3px;}

  .main_slider {padding: 0 12px; height: auto;}
  .main_slider .slide_wrap {flex-direction: column; width: 100%; align-items: flex-start; position: static;}
  .main_slider .slide {width: 100%;}
  .main_slider a {background: #d6d5b6; height: 220px;}
  .main_slider .slide:nth-child(2) a {background: #cfcfcf;}
  .main_slider .slide:nth-child(3) a {background: #d6d5b6;}
  .main_slider .slide:nth-child(4) a {background: #eae8c6;}
  .main_slider .slide:nth-child(5) a {background: #fe9b73;}
  .main_slider .slide:nth-child(6) a {background: #edb074;}
  .main_slider .slide:nth-child(7) a {background: #eae8c6;}
  .main_slider .slide:nth-child(8) a {background: #9f6fb4;}
  .main_slider .slide:nth-child(9) a {background: #83ddea}
  .main_slider .slide:nth-child(10) a {background: #d9ff00;}
  .main_slider .slide:nth-child(11) a {background: #c9dbf4;}
  .main_slider .slide:nth-child(12) a {background: #cfcfcf;}
  .main_slider .slide:nth-child(13) a {background: #7f84c7;}
  .main_slider .slide:nth-child(14) a {background: #fe9b73;}
  .main_slider .slide:nth-child(15) a {background: #d8b69b;}
  .main_slider .slide:nth-child(16) a {background: #edb074;}
  .main_slider .slide:nth-child(17) a {background: #edb074;}

  .main_slider a:hover .img_wrap img {
    transform: none;
  }
  .main_slider a:hover .txt_wrap .link_deco {
    animation: none;
  }

  .main_slider .img_wrap {max-width: 328px; height: 100%;}
  .main_slider .img_wrap img {object-fit: cover;}

  .main_slider .txt_wrap {padding: 12px 15px;}
  .main_slider .txt_wrap .pr_client {font-size: 1.8rem;}
  .main_slider .txt_wrap .pr_tit {font-size: 1.8rem;}
  .main_slider .txt_wrap .pr_tool {font-size: 1.4rem;}
  .main_slider .txt_wrap .link_deco {height: 24px; width: 24px; right: 15px; bottom: 15px;}








}